@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c}, #{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";
$theme_selected_bg_color: "@theme_selected_bg_color";
$theme_selected_fg_color: "@theme_selected_fg_color";
$insensitive_fg_color: "@insensitive_fg_color";
$borders: "@borders";

window.bar {
  border: none;
  box-shadow: none;
  background: transparent;
  color: #{$theme_fg_color};
  font-size: 1.05rem;
  font-weight: bold;

  >centerbox {
    border: .075rem solid;
    border-color: gtkalpha($theme_selected_bg_color, .5);
    background-color: #{$theme_bg_color};
    border-radius: 1.8rem;
    margin: .3rem .3rem 0 .3rem;
    padding: .15rem;
  }

  button {
    min-width: 1.65rem;
    min-height: 1.65rem;
  }

  icon {
    font-size: 1.65rem;
    padding: 0;
    margin: 0;
  }

  .workspaces {
    button {
      background-color: transparent;
      border-radius: 50%;
      font-size: .975rem;
      font-weight: bold;

      &.focused {
        background-color: #{$theme_selected_bg_color};
        color: #{$theme_selected_fg_color};
      }
    }
  }

  .icon-container {
    margin: .15rem;
  }

  .only-icon {
    padding: .3rem;
  }

  .button-icon {
    padding: .3rem;
    background-color: transparent;
    border-radius: 50%;
  }

  .battery {
    min-width: 160px;

    label {
      color: gtkalpha($theme_selected_fg_color, .8);      
    }

    .horizontal {
      block {
        margin: .6em .225em;
        border-radius: 20px;
      }
    }
  }

  .sys-tray {
    button {
      background-color: transparent;
    }
  }
}
